{% extends "base.html" %}
{% block content %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{MEDIA_URL}}{{me.photo.url}}" alt="" style="width: 256px; height: 256px; border-radius:50%;">
                    <div class="intro-text">
                        <span class="name">{{me.first_name}} {{me.second_name}}</span>
                        <hr class="star-light">
                        <span class="skills">Программист - Аналитик - Менеджер проектов</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
